﻿@{
    ViewData["Title"] = "Adult Controller";
}

<h1>are you old enough? @Model</h1>

<h2>This section is only for adult!</h2>

<p>
    We sell dreams here. Only here you can spend your life savings on 128MB USB Drive made in CHINA and NOT yet avaliable on Ali Express! or on BEST EVER investment that will give you -100%!
</p>