﻿@model string

@{
    ViewData["Title"] = "Action Constraints Controller";
}

<h2>@Model</h2>
<p>
    You should see name passed in URL, if you see <code>Missing Header!</code> it means that <code>HeaderActionConstraint</code> kicked in.
</p>
<p>
    try using <code>curl</code>
</p>
<pre>
curl -k -H "X-Correlation-Id: 123" https://localhost:44307/ActionConstraints/Header/Tom | grep "Tom"
</pre>