﻿@{
    ViewBag.Title = "Motivate Controller";
}

<H1>I NEED MOTIVATION!!!!!</H1>

<h3>Execute as Invoke</h3>
@await Component.InvokeAsync(typeof(MotivateViewComponent))
<hr />
<h3>Execute as Tag</h3>
<vc:Motivate></vc:Motivate>
