﻿@{
    ViewData["Title"] = "Home";
}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 700px">
    <h1 class="display-4">UT Demos</h1>
    <p class="lead">dotnet core features and unit test demos.</p>
</div>
<div class="row">

    <div class="col-lg-4">
        <h2>Controllers | POCO</h2>
        <p>
            If you are into <code>POCO - Plain Old Crl Object</code>, you might use it
            as a controller. However there are few steps that needs to be done to return
            a view. Three options shows three different ways of doing this. All of them
            have exactly same results.
        </p>
        <p>Source code contains UT for these <code>POCO</code> controllers</p>
    </div>
    <div class="col-lg-4">
        <h2>Controllers | Normal</h2>
        <p>
            Just normal example of MVC Controller.
        </p>
        <p>Source code contains UT for this <em>normal</em> controller</p>
    </div>
    <div class="col-lg-4">
        <h2>Razor | Tag Helpers</h2>
        <p>
            Example how to use custom tag helpers as well as how to unit test them.
            Also, it shows a tag helper called <code>cache</code>. In dotnet core tag
            helpers are a new way of extending razor. <code>Html Helpers</code> are
            considered deprecated.
        </p>
        <p>Source code contains UT for <code>TagHelpers</code></p>
        <p>
            You can also take a look of how URL are rendered in <code>navbar</code> in
            <code>_Layouts.cshtml</code> file or even in this file: <code>Home/Index.cshtml</code>
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Razor | View Components Helpers</h2>
        <p>
            This used to be <code>ChildAction</code>. Its a powerful feature that allows
            to execute custom code during rendering of the view. This example shows to
            possible way of executing <code>ViewComponent</code>
        </p>
        <p>Source code contains UT for <code>ViewComponent</code></p>
    </div>
    <div class="col-lg-4">
        <h2>Model Binder</h2>
        <p>
            Model Binder had been completely re-written in dotnet core. This is an example of
            how we can use it in our application. For instance our DataTables will need one.
        </p>
        <p>Source code contains UT for model binders</p>
    </div>
    <div class="col-lg-4">
        <h2>Filters | Type Filter</h2>
        <p>
            An easier way of writing filters that allows dependency injection. This example test if current user
            is at least <code>18</code> years old. It generate age randomly so refreshing will have different
            impact on the view.
        </p>
        <p>Source code contains UT for <code>TypeFilter</code></p>
    </div>
    <div class="col-lg-4">
        <h2>Filters | Middleware Filter</h2>
        <p>
            Re-using middleware as a filter to action. It runs quite soon in pipeline so its a way to <em>fail fast</em>
            without executing whole pipeline of mvc.
        </p>
        <p>Source code contains UT for <code>MiddlewareFilter</code></p>
    </div>
    <div class="col-lg-4">
        <h2>Filters | Route Constraint</h2>
        <p>
            Creating custom rout constraint that have business meaning - like <code>LicenceRegNo</code>,
            check if something begins on specific later, have set of digits and a dash (<code>-</code>). 
            The one implemented here is checking if user age is above 17 years old.
        </p>
        <p>Source code contains UT for <code>RouteConstraint</code></p>, check <code>AdultRouteConstraint</code>.
    </div>
    <div class="col-lg-4">
        <h2>Filters | Action Constraint</h2>
        <p>
            Two examples doing two different checks but in functionality doing same thing. If we have two actions
            of the same name (but with different parameters) we can set <code>ActionConstraint</code> on one and block
            access to action depending on the results of constraint. By default next action of the same name will be
            picked up.
        </p>
        <p>This is how <code>HttpPost</code> or <code>HttpGet</code> constraints works</p>
        <p>Source code contains UT for <code>ActionConstraint</code></p>, check <code>SwearDetectorActionConstraint</code>.
    </div>
    <div class="col-lg-4">
        <h2>Backend</h2>
        <p>
            When you have this application app and running, in backend this application is executing <code>BackgroundTask</code>.
            This task periodically updates <code>test.txt</code> file under <code>wwwroot</code> folder with current date
            and time.
        </p>
        <p>Source code contains UT for <code>BackgroundTask</code></p>, check <code>FileBackgroundService</code>.
    </div>
</div>