﻿
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>This section is only for adult!</h2>

<p>
    We sell dreams here. Only here you can spend your life saving on 128MB USB Drive made in CHAINA and NOT yet avaliable on Ali Express! or on BEST EVER investment that will give you -100%!
</p>