﻿@using Newtonsoft.Json
@using MvcApp.ViewModels
@model SearchQueryInput

@{
    ViewData["Title"] = "Search Controller";
}

<p>
    Take a look at url and than and the model below. This was achieved by model binding.
</p>

<pre>
@JsonConvert.SerializeObject(Model, Formatting.Indented)
</pre>