﻿@{
    ViewData["Title"] = "Tag Helpers";
}

<h2>Tag Helper Tests</h2>

<hr />

<h3>Hello tag</h3>

<hello name="Neil"></hello>

<hr />

<h3>Make big attribute</h3>

<p>
    This paragraph is without <code>make-big</code> attribute, Today is: @DateTime.Now
</p>
<p make-big>
    This paragraph is to be made big, Today is: @DateTime.Now
</p>

<hr />

<h3>Make big attribute between cache - <small>refresh page and compare prev and this</small></h3>
<cache>

    <p>
        This paragraph is without <code>make-big</code> but cached, Today is: @DateTime.Now
    </p>
    <p make-big>
        This paragraph is to be made big and cached, check date, Today is: @DateTime.Now
    </p>
</cache>

<hr />

<h3>Button tag</h3>
<div>
    <button>WITHOUT CLASS</button>
</div>
<br />
<div>
    <button class="btn">WITH BTN CLASS</button>
</div>
<br />
<div>
    <button class="btn btn-danger">WITH BTN DANGER CLASS</button>
</div>


